<a href="https://colab.research.google.com/github/MayHyeyeonKim/Beyond-campus_Python/blob/main/week2_2_1_for_loop%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 입사 D+1:오전

> 멍팀장🐶: 그럼 어제 짠 코드를 개선하는 방법을 알려줄게요

# 할 일: 반복되는 코드를 줄이기 위한 for-loop 배우기

## 📌 잠깐! SW 토막 상식

리팩토링이란? 코드의 output을 유지하면서, 코드를 효율적으로 또는 읽기 쉽게  바꾸는 것.

# STEP 1. for-loop with range

아래 코드는 파일 5개를 열어, 그 내용물을 읽고 있습니다.

```python
file1 = open('PythonCourse/week1/assignment_files/file1.txt', 'r')
file2 = open('PythonCourse/week1/assignment_files/file2.txt', 'r')
file3 = open('PythonCourse/week1/assignment_files/file3.txt', 'r')
file4 = open('PythonCourse/week1/assignment_files/file4.txt', 'r')
file5 = open('PythonCourse/week1/assignment_files/file5.txt', 'r')

file1_content = file2.read()
file2_content = file2.read()
file3_content = file3.read()
file4_content = file4.read()
file5_content = file5.read()
```

**이 코드의 문제점**

위 코드에서는 같은 코드가 5번씩 사용되고 있습니다.

만약 열어야하는 파일이 10개가 되면? 100개가 되면? 1억개가 되면 어떨까요? 1억번 같은 코드를 쓰는 건 너무 힘들겠지요.

for-loop를 배워, 반복되는 코드를 줄여봅시다.

## 알려줄게요!: N 번 반복하기

컴퓨터에게 같은 일을 반복해 시키려면 반복문(loop)을 사용하면 편합니다. 

`횟수`만큼 어떤 일을 반복하는 for-loop은 다음과 같이 작성합니다.

```python
for 어쩌고 in range(반복할횟수):
    반복할코드
```

* `어쩌고`에는 현재 반복이 몇 번이나 실행됐는지 알려주는 숫자가 들어갑니다.
  * `어쩌고`는 0부터 시작합니다.

## 예시

### 예시 1: 숫자 세기

다음은 0부터 9까지의 숫자를 더한 값을 출력하는 코드입니다.

왼쪽에 위치한 화살표 버튼을 클릭하여 코드를 실행해보세요.

In [ ]:
for number in range(5):
    print(number+1)

1
2
3
4
5

In [ ]:
from time import sleep

added = 0
for number in range(10):
    print(f"{added} + {number} = {added + number}")
    added += number
    sleep(1) # 1초간 기다리는 코드

0 + 0 = 0
0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15
15 + 6 = 21
21 + 7 = 28
28 + 8 = 36
36 + 9 = 45

### 예시 2: nested loop

반복문 안에서 반복문을 사용할 수도 있습니다.

다음은 숫자로 삼각형 모양을 출력하는 코드입니다.

왼쪽에 위치한 화살표 버튼을 클릭하여 코드를 실행해보세요.

In [ ]:
for height in range(5):
  for number in range(height+1):
    print(number+1, end="")
  print("")

1
12
123
1234
12345

In [ ]:
print("banana",end="")
print("apple")

bananaapple

## 실습 1

### TODO: 같은 문구 20번 출력하기

for-loop를 이용해 "왹팀장 가만 안 둬"라는 문장을 20번 출력하는 코드를 작성해주세요.

In [ ]:
_

9

In [ ]:
for _ in range(10):
    print("왹팀장 가만 안 둬")

왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬
왹팀장 가만 안 둬

### TODO: 구구단 출력하기

nested loop을 이용해서 구구단을 1단부터 3단까지 출력하는 코드를 작성해주세요.

결과는 다음과 같이 나와야합니다

```
1단
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
```

In [ ]:
for number1 in range(9):
  print(f"{number1+1}단")
  for number2 in range(9):
    print(f"{number1+1} x {number2+1} = {number1+1*number2+1}")

1단
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2단
2 x 1 = 2
2 x 2 = 3
2 x 3 = 4
2 x 4 = 5
2 x 5 = 6
2 x 6 = 7
2 x 7 = 8
2 x 8 = 9
2 x 9 = 10
3단
3 x 1 = 3
3 x 2 = 4
3 x 3 = 5
3 x 4 = 6
3 x 5 = 7
3 x 6 = 8
3 x 7 = 9
3 x 8 = 10
3 x 9 = 11
4단
4 x 1 = 4
4 x 2 = 5
4 x 3 = 6
4 x 4 = 7
4 x 5 = 8
4 x 6 = 9
4 x 7 = 10
4 x 8 = 11
4 x 9 = 12
5단
5 x 1 = 5
5 x 2 = 6
5 x 3 = 7
5 x 4 = 8
5 x 5 = 9
5 x 6 = 10
5 x 7 = 11
5 x 8 = 12
5 x 9 = 13
6단
6 x 1 = 6
6 x 2 = 7
6 x 3 = 8
6 x 4 = 9
6 x 5 = 10
6 x 6 = 11
6 x 7 = 12
6 x 8 = 13
6 x 9 = 14
7단
7 x 1 = 7
7 x 2 = 8
7 x 3 = 9
7 x 4 = 10
7 x 5 = 11
7 x 6 = 12
7 x 7 = 13
7 x 8 = 14
7 x 9 = 15
8단
8 x 1 = 8
8 x 2 = 9
8 x 3 = 10
8 x 4 = 11
8 x 5 = 12
8 x 6 = 13
8 x 7 = 14
8 x 8 = 15
8 x 9 = 16
9단
9 x 1 = 9
9 x 2 = 10
9 x 3 = 11
9 x 4 = 12
9 x 5 = 13
9 x 6 = 14
9 x 7 = 15
9 x 8 = 16
9 x 9 = 17

## 알려줄게요!: range 문 더 잘 쓰는 방법

range에 들어가는 값을 조정하면 반복문을 더 잘 쓸 수 있습니다.

```
for 어쩌고 in range(start, stop[, step]):
```

위 코드를 이용하면

* `어쩌고`에는 첫 값이 `start`로 들어오고
* 반복을 거듭하며 `step` 만큼의 값이 추가되고
* `어쩌고`가 `stop`과 같거나 이를 넘어서는 순간 반복문이 종료됩니다.

📌step은 지정하지 않으면 자동으로 1로 설정됩니다.

## 예시

### 예시 1: 2의 배수 출력하기

다음은 1부터 10까지의 숫자 중 2의 배수를 출력하는 코드입니다.

왼쪽에 위치한 화살표 버튼을 클릭하여 코드를 실행해보세요.

In [ ]:
from time import sleep

for number in range(2, 10+1, 2):
  print(number)
  sleep(1) # 1초간 기다리는 코드

2
4
6
8
10

### 예시 2: 뒤에서부터 숫자 세기

다음은 10부터 1까지의 숫자를 거꾸로 세는 코드입니다.

왼쪽에 위치한 화살표 버튼을 클릭하여 코드를 실행해보세요.

In [ ]:
from time import sleep

for number in range(10, 0, -2):
  print(number)
  sleep(1) # 1초간 기다리는 코드

10
8
6
4
2

## 실습 2

### TODO: 2의 배수 거꾸로 출력하기

1부터 10까지의 숫자 중 2의 배수를 큰 순서대로 출력하는 코드를 작성해주세요. 
결과는 다음과 같이 나와야합니다.

```
10
8
6
4
2
```

In [ ]:
for number in range(20,0,-2):
  print(number)
  sleep(1)

20
18
16
14
12
10
8
6
4
2

### TODO: range를 1부터 시작하기

다음은 앞서 작성했던던 코드로, 이 코드는 구구단을 1단부터 3단까지 출력합니다.

`range(숫자)` 대신 `range(start, stop[, step])을 이용해서

* number1과 number2가 0이 아닌 1부터 시작하도록,
* 코드를 실행했을 때의 출력물은 이전과 같게 만들어주세요.

```python
for number1 in range(3):
  print(f"{number1 + 1}단")
  for number2 in range(9):
    print(f"{number1 + 1} x {number2 + 1} = {(number1 + 1) * (number2 + 1)}")
```

In [ ]:
# TODO: 주어진 지시에 맞게 다음 코드를 수정해보세요

for number1 in range(1,3+1):
  print(f"{number1}단")
  for number2 in range(1,9+1):
    print(f"{number1} x {number2} = {(number1) * (number2)}")

1단
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27